token.pickle
client-secret/client_secret_1037804191460-qvlskh7r3t1umvk9sij76gmmf55qh3bk.apps.googleusercontent.com.json
client-secret/client_secret_googleusercontent.json
/downloaded_videos
client-secret/openai-api-key.json

stash/yt_search.py-stash
stash/yt-upload.py-stash
stash/yt_automation - Copy.py
.DS_Store
